*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    background-color: white;
    z-index: 9;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    box-shadow: 0px 3px 65px 0px rgba(0,0,0,.15);
}
.nav_top{
    position: fixed;
    width:100%;
}
.logo{
    float: left;
    width: 70%;
}
.logo img{
    padding: 5px;
    cursor:pointer;
}

.nav_side{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.nav_side a{
    text-decoration: none;
    margin-right: 20px;
    color: black;
    font-weight: bold;
    font-family: cosmic, sans-serif;
    font-size: 15px;
    justify-content:center;
    align-items: center;
    align-content: center;
    text-align: center;
}
.nav_side a:hover{
    color: orange;
    transition: all is ease;
}
.main{
    background-image: url('/pictures/table.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 80vh;
}

.backdrop {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.313), rgb(0, 0, 0));
    
    
}
.main .main_content{
    padding-top: 15%;
    margin-left: 10%;
    margin-right: 10%;
}
.main .main_content h2{
    color: rgb(255, 232, 168);
    font-size: 50px;
    font-family: cosmic, sans-serif;
    font-weight: bolder;
    text-align: center;
    line-height: 20px;
}
.dummy{
    font-size: 18px;
    opacity: 0.9;
    color: rgb(218, 189, 189);
    font-weight: 500;
    /* line-height: 10px; */
    text-align: center;
    padding: 20px;
    /* background-color: rgb(191, 24, 24); */
    
}
.form_container{
    padding: 50px;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}
.form_container h2{
    font-size: 30px;
    font-family: Verdana, sans-serif;
    color: red;
}
form{
    margin: 20px;
    padding: 20px;
    box-shadow: 4px 4px 16px black;
    line-height: 20px;
}
.main .main_content .btn{
    margin-top: 50px;
    margin-left: 40%;
}
.main .main_content .btn a{
    text-decoration: none;
    margin: 50px;
    padding: 10px 20px;
    background-color: purple;
    color: white;
    font-family: cosmic, sans-serif;
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
    transition: .5s;
}
.main .main_content .btn a:hover{
    background-color: black;
    color: orange;
    border: none;
    border-bottom: 4px solid orange;
    transition: 0.5;
}

.product h2{
    background-color: burlywood;
    color: black;
    font-size: 35px;
    text-align: center;
    padding: 30px;
}
.product .product_container{
    display:flex; 
    /* background-color: black; */
}
.product .product_container .item{
    margin: 10px;
    /* background-color: black; */
    /* margin: 10px; */
}
.product .product_container .item:hover{
    box-shadow: 0px 3px 65px 0px rgba(0, 0, 0, 0.537);
    border-radius: 30px;
}
.product .product_container .item .item_img{
    /* padding-top: 30px; */
    width: 100%;
    overflow: hidden;
}
.product .product_container .item .item_img img{
    width: 100%;
    height: 300px;
}
.product .product_container .item .item_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.product .product_container .item .item_content h3{
    /* padding: 10PX; */
    font-size: 25px;
    font-family: cosmic,sans-serif;
}
.product .product_container .item .item_content p{
    /* padding: 10PX; */
    font-size: 15px;
    font-family: cosmic,sans-serif;
}
.product .product_container .item .item_content .line{
    width: 70%;
    height:1px;
    background-color: black;
}
.product .product_container .item .item_content a{
    text-decoration: none;
    margin:10px;
    padding: 10px 20px;
    background-color: purple;
    color: white;
    font-family: cosmic, sans-serif;
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
    transition: .5s;
}
.product .product_container .item .item_content a:hover{
    background-color: black;
    color: orange;
    border: none;
    border-bottom: 4px solid orange;
    transition: 0.5s;
}
.product .product_btn{
    text-align: center;
    margin-top: 50px;   
}
.product .product_btn a{
    text-decoration: none;
    padding: 10px 20px;
    background-color: purple;
    color: white;
    font-family: cosmic, sans-serif;
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
    transition: .5s;
}
.product .product_btn a:hover{
    background-color: black;
    color: orange;
    border: none;
    border-bottom: 4px solid orange;
    transition: 0.5;
}
.keypoint{
    padding: 50px;
}
.keypoint h2{
    color: black;
    font-size: 35px;
    text-align: center;
    padding: 10px;
}
.key_container{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;    
}
.keypoint .key_container .key_content{
    width: 40%;
    padding: 20px;
    float: left;
}
.key_content li{
    list-style: none;
    margin: 10px;
    padding: 10px;
    border-left: 2px solid orange;
    color: black;
    text-align: left;
    font-family: cosmic, sans-serif;
    box-shadow: 0px 3px 65px 0px rgba(0,0,0,.15);
}
.keypoint .key_container .key_img{
    width: 40%;
    float: right;
    margin: 100px;
}
.keypoint .key_container .key_img img{
    width: 100%;
}
.testi{
    padding: 50px;
}
.testi h2{
    color: black;
    font-size: 35px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
}
.testi .testi_container{
    margin-right: 10%;
    margin-left: 10%;
    text-align: center;
}
.testi .testi_container.carousel-inner{
    background-color: white;
    box-shadow: none;
}
.testi .testi_container .item{
    width: 100%;
    padding: 20px;
    background-color: white;
    box-shadow: none;
}
.testi .testi_container .item .item_img{
    width: 100%;
    height: 100px;
    text-align: center;
    overflow: hidden;
}
.testi .testi_container .item .item_img img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.testi .testi_container  .item .item_content{
    text-align: center;
}
.testi .testi_container  .item h3{
    padding: 10PX;
    font-size: 25px;
    font-family: cosmic,sans-serif;
}
.testi .testi_container  .item p{
    padding: 10PX;
    font-size: 15px;
    font-family: cosmic,sans-serif;
}
.team{
    padding: 50px;
}
.team h2{
    color: black;
    font-size: 35px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
}
.team .team_container{
    display: flex;
}
.team .team_container .team_video{
    width: 50%;
    padding: 20px;   
}
video{
    border: 10px solid orange;
}
.team .team_container .team_content{
    width: 40%;
    padding: 20px;  
    margin-left: 50px; 
}
.team .team_container .team_content p{
    padding: 10PX;
    font-size: 15px;
    font-family: cosmic,sans-serif;
}


.review-form-input{
    width: 70%;
    padding: 5%;
    border-radius: 10px;
    box-shadow: 0px 2px 10px 0px rgba(12, 0, 0, 0.653);
}


.feed{
    padding: 50px;
    background-image: url('/pictures/th.jpeg');
    background-size: cover;
}
.feed h2{
    color: white;
    font-size: 35px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
}
.feed .feed_form{
    text-align: center;
    background-color: white;
}
.feed .feed_form form{
    padding: 20px;
}
.feed .feed_form form input{
    padding: 30px;
    margin: 10px;
    padding: 8px;
    outline: none;
    border: none;
}
.feed .feed_form form textarea{
    width: 50%;
    padding: 30px;
    margin: 10px;
    padding: 8px;
    outline: none;
    border: none;
}
.feed .feed_form form .btn{
    padding: 30px;
    margin: 10px;
    padding: 0.7% 3%;
    border: 2px solid white;
    border-radius: 10px;
    background-color: purple;
    color: white;
    
}

.feed .feed_form form .btn:hover
{
    background-color: black;
    color: orange;
    border: none;
    border-bottom: 4px solid orange;
    transition: 0.5;
}
.about_us{
    padding: 50px;
}
.about_us h2{
    color: orange;
    font-size: 35px;
    text-align: center;
    padding: 10px;
    font-family: cosmic,sans-serif;
    text-transform: uppercase;
}
.about_us p{
    padding: 10PX;
    font-size: 14px;
    text-align: center;
    font-family: cosmic,sans-serif;
    line-height: 25px;
}
.contact_container{
    padding: 100px;
}
.contact_container h2{
    color: orange;
    font-size: 35px;
    text-align: center;
    padding: 10px;
    font-family: cosmic,sans-serif;
    text-transform: uppercase;
}
.contact_container .g_map{
    border: 10px solid black;
}
.contact_container .contact_content{
    padding: 20px;
}
.contact_container .Contact_content p{
    margin-top: 30px;
    padding: 5PX;
    font-size: 25px;
    text-align: center;
    font-family: cosmic,sans-serif;
    line-height: 25px;
}
footer{
    background-image: url('/pictures/thumb2-white-wavy-background-4k-abstract-waves-creative-white-backgrounds.jpg');
     padding: 50px;
     
}
footer .pages{
    text-align: center;
}
footer .pages h3{
    color: black;
    font-size: 20px;
    font-family: cosmic,sans-serif;
    padding: 5px;
}
footer .pages a{
    text-decoration: none;
    margin: 10px;
    color: orange;
    font-size: 15px;
    font-family: cosmic,sans-serif;
}
footer .pages a:hover{
    color: grey;
}
footer .doc{
    text-align: center;
}
footer .doc h3{
    color: black;
    font-size: 20px;
    font-family: cosmic,sans-serif;
    padding: 5px;
}
footer .doc a{
    text-decoration: none;
    margin: 10px;
    color: orange;
    font-size: 15px;
    font-family: cosmic,sans-serif;
}
footer .doc a:hover{
    color: gray;
}
footer .social{
    text-align: center;
}
footer .social h3{
    color: black;
    font-size: 20px;
    font-family: cosmic,sans-serif;
    padding: 5px;
}
footer .social a{
    text-decoration: none;
    font-size: 30px;
    color: orange;
    margin: 10px;
}
footer .social a:hover{
    color: grey;
}
footer .contact{
    text-align: center;
}
footer .contact h3{
    color: black;
    font-size: 20px;
    font-family: cosmic,sans-serif;
    padding: 5px;
}
footer .contact a{
    text-decoration: none;
    font-size: 30px;
    color: orange;
    margin: 10px;
}
footer .contact a:hover{
    color: grey;
}
a{
    text-decoration:none;
}
.services{
    width:100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.s-heading{
    text-align:center;
}
.s-heading h1{
    color:#576975;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0px;
}
.s-heading p{
    color: rgba(87,105,117,0.60);
    font-size: 1rem;
    margin: 5px;
    text-align: center;
}
.s-box-container{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.s-box{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width:300px;
    padding: 20px 25px;
    height: 400px;
    box-sizing: border-box;
    margin: 30px;
    position: relative;
}
.s-box img{
    height: 75px;
}
.s-box h1{
    color:#576975;
    letter-spacing: 1px;
    font-size: 1.5rem;
    margin-bottom: 8px;
    
}
.s-box p{
    color: rgba(87,105,117,0.90);
    text-align: center;
}
.s-btn{
    width: 140px;
    height: 40px;
    border-radius: 20px;
    border:1px solid rgba(74,144,226,0.50);
    display: flex;
    justify-content: center;
    align-items: center;
    color:#576975;
    margin-top:10px; 
}
.bar{
    width: 100px;
    height: 6px;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translateX(-50%);
    background-color:#4a90e2; 
    border-radius: 0px 0px 10px 10px;
    display: none;
    animation: bar 0.5s;
}
.s-box:hover{
    box-shadow: 2px 2px 30px rgba(0,0,0,0.08);
    transition: all ease 0.3s;
}
.s-btn:hover{
    background-color:orange;
    border: 1px solid #4a90e2;
    color:#FFFFFF;
    transition: all ease 0.3s;
}
.s-box:hover .bar{
    display: block;
}
@keyframes bar{
    0%{
        width:0px;
    }
    100%{
        width:100px;
    }
}
@media(max-width:1050px){
    .s-box-container{
        flex-wrap: wrap;
        
    }	
    .services{
        height: auto;
    }
    .s-heading{
        margin: 15px;
    }
    .s-box{
        flex-grow: 1;
    }
    
}
















